@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

:root {
  --card-bg: #ee162a;
  --card-text: #f3f1e4;
  --card-border-hover: #b81626;
  --card-border-hover-mid: #e45d49;
  --card-decoration: #00000070;
}

.main {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../assets/img/background.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container > div {
  color: #fff;
  border-radius: 8px;
}

.container {
  display: grid;
  gap: 35px;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(6, 200px);
}

.item {
  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 0px 1px 15px 5px #000;
  box-shadow: 0px 1px 15px 5px #000;
  position: relative;

  transition: 0.3s ease-in-out;
}

.item-decoration {
  display: none;
  width: 200px;
  height: 170px;
  transform: scale(0.2);
  background-color: var(--card-decoration);

  position: absolute;
  bottom: 45%;
  left: 35%;
  z-index: 0;
}

.item-decoration.one {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.item img {
  width: 200px;
  height: 170px;
  display: block;
  border-radius: 8px 8px 0px 0px;
}

.item .description {
  background-color: var(--card-bg);
  border-radius: 0px 0px 8px 8px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: inset 0px 0px 15px 5px #000000b0;
  box-shadow: inset 0px 0px 15px 5px #000000b0;
}

.item:hover {
  cursor: crosshair;
  animation: glow 0.5s ease-in-out;
  -webkit-box-shadow: 0px 1px 10px 8px var(--card-border-hover);
  box-shadow: 0px 1px 10px 8px var(--card-border-hover);
}

/*
.item:active {
  transform: rotate(3deg);
}
*/

@keyframes glow {
  0%,
  100% {
    -webkit-box-shadow: 0px 1px 10px 8px var(--card-border-hover);
    box-shadow: 0px 1px 10px 8px var(--card-border-hover);
  }
  50% {
    -webkit-box-shadow: 0px 1px 10px 12px var(--card-border-hover-mid);
    box-shadow: 0px 1px 10px 12px var(--card-border-hover-mid);
  }
}

.item .description p {
  font-family: 'Syne', sans-serif;
  font-size: 0.9rem;
}
