:root {
  --header-title: #f3ac12;
  --header-score: #f3f1e4;
  --header-score-number: #ee162a;
  --header-underline: #251c188e;
}

@font-face {
  font-family: Goudy-Heavy;
  src: url(../../assets/fonts/goudy-heavy.otf);
}

.header header {
  border-bottom: 2px solid var(--header-underline);
  background: #23201e;
  background: -moz-linear-gradient(top, #23201e 0%, #130e0c 100%);
  background: -webkit-linear-gradient(top, #23201e 0%, #130e0c 100%);
  background: linear-gradient(to bottom, #23201e 0%, #130e0c 100%);
  padding: 15px 20px 125px 20px;
  display: flex;

  position: relative;
}

.header header .title.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;

  position: absolute;
  left: 60px;
}

.header .title h1 {
  font-family: 'Goudy-Heavy';
  color: var(--header-title);
  text-shadow: 2px 2px 2px #ee162a;
  font-size: 3.2rem;

  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.header .instruction p {
  color: var(--header-score);
  width: 22.813rem;
}

.header .score {
  display: flex;

  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(238, 22, 42, 0.45);
  box-shadow: 0px 1px 15px 5px rgba(238, 22, 42, 0.45);
  padding: 5px 15px 5px 15px;
  min-width: 200px;
  flex-direction: column;

  row-gap: 5px;

  position: absolute;
  right: 5%;
  top: 25%;
}

.header .score h3 {
  color: var(--header-score);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}

.header .score svg {
  color: var(--header-title);
}

.header .score h3:first-child {
  border-bottom: 3px dotted rgba(238, 22, 42, 0.45);
  width: 100%;

  padding-bottom: 5px;
}

.header .score .current-score,
.header .score .best-score {
  color: var(--header-title);
  font-size: 1rem;
}
