:root {
  --footer-bg: #130e0c;
  --footer-text: #f5f5f5;
  --footer-icon: #f3ac12;
  --footer-icon-hover: #f5f5f5;
}
.footer footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  background-color: var(--footer-bg);
  -webkit-box-shadow: 0px 1px 15px 5px rgba(238, 22, 42, 0.45);
  box-shadow: 0px 1px 15px 5px rgba(238, 22, 42, 0.45);
  border-radius: 8px;
  */
  column-gap: 5px;
  position: absolute;
  padding: 3px 10px 3px 10px;

  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer footer h4 {
  color: var(--footer-text);
  font-size: 1rem;
}

.footer footer svg {
  color: var(--footer-icon);
  font-size: 1.9rem;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.footer footer svg:hover {
  color: var(--footer-icon-hover);
  transform: scale(1.2) rotate(360deg);
}
